* {
    box-sizing: border-box;
}
/* псевдокласс  hover срабатывает при наведении и изменяет свойства элемента на заданные ниже: */
a:hover {
    text-decoration: none;
    color: red;
    font-size: 30px
}
/* Изменяет цвет ссылки, если пользователь по ней уже переходил. Работает только с ссылками*/
a:visited {
    color:aqua;
}
/* Срабатывает в момент краткосрочного клика на элемент, изменяя его свойства. 
Работает со всеми элементами html. */
a:active {
    color:blue;
}
/* Срабатывает, если перемещаться по элементам клавищей tab. */
a:focus { 
    font-weight: 700;
}

/* При помощи этого псевдоэлемента можно обращаться к определенным тегам. 
К примеру, я вырал именено третий li элемент внутри ul и задал для него стили.
Вместо циферного выбор можно поставить odd, чтобы выбрать все четные элементы, или even - нечетные.*/
ul li:nth-child(3) {
    color:blue;
    text-decoration: line-through;
}
/* Выбрал первый элемент li. Если анписать lust-child, о выберится последний. */
ul li:first-child {
    color: red;
    text-decoration: line-through;
}

/* Псевдокласс, добавляющий контент перед каким-то элементом. Всегда работает со свойством content внутри. */
/* Тут надо искать код css для элементов контента.  */
div p::before {
    content: "\00A9";
    text-decoration: line-through;
}
/* После элемента. При этом остальные заданные стили применяются ТОЛЬКО к добавочным элементам.  */
div p::after {
    content: "\00A9";
    color: red;
}
/* Изменяет первый символ в тексте, включая элеметны, добавленные before или after. */
div p::first-letter {
   font-size: 40px;
}
/* Стили применяются к первой строке текста. 
При  этом стили будут применяться вне зависимости от разрешения экрана только ан 1 строку. */
div p::first-line {
    text-decoration: underline;
} 
/* Выделить фрагмент текста и применить на выделенную область ТОЛЬКО эти 2 стиля. */
div p::selection{
    background-color: yellow;
    color: blue;
}

/* ДЛЯ ПРИМЕРА */
/* Выбрать последий span внутри div и задать для него стили. */
div span:last-of-type {
    color: green;
}
/* Применять стили ко всем элементам li внутри list, но игнорировать элементы с доп-класом .item2. */
.list2 li:not(.item2) {
    border: 1px solid black;
}